<div class="d-block w-100 text-center pt-5">
  <button class="btn btn-primary btn-lg" (click)="start_timer();" *ngIf="clicked==false; else stopButton;">Start</button>
  <ng-template #stopButton>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary btn-lg" (click)="stop_timer();">Stop</button>
  </ng-template>

</div>



<!-- The Modal -->
<div id="myModal" class="custom_modal d-none">

  <!-- Modal content -->
  <div class="modal_content">

    <div class="modal-header">
      <h5 class="modal-title">Project</h5>
      <button type="button" class="close" (click)="close_modal();" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="pt-3 justify-content-around">
        <input id="projectNameInput" type="text" placeholder="Input project name" class="form-control" />
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="saveProject();close_modal();">Save changes</button>
      <button type="button" class="btn btn-secondary" (click)="close_modal();" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>


<div class="w-100 justify-content-center d-block mt-3">
  <!-- Counter -->
  <div class="pt-3 mb-3">
    <p class="text-muted h3" id="counter_display">{{ timerDisplay["hours"]["digit1"]}}{{ timerDisplay["hours"]["digit2"] }}:{{ timerDisplay.minutes["digit1"]}}{{ timerDisplay.minutes["digit2"] }}:{{ timerDisplay.seconds["digit1"]}}{{ timerDisplay.seconds["digit2"] }}</p>
  </div>

  <table id="dataTable" class="table table-striped d-none">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of projects; let i = index'> 
        <th scope="row">{{i+1}}</th>
        <td>{{p.Name}}</td>
        <td>{{p.StartTime}}</td>
        <td>{{p.EndTime}}</td>
        <td>
          {{p.Duration["hours"]["digit1"]}}{{ p.Duration["hours"]["digit2"] }}:{{ p.Duration.minutes["digit1"]}}{{ p.Duration.minutes["digit2"] }}:{{ p.Duration.seconds["digit1"]}}{{ p.Duration.seconds["digit2"] }}
        </td>
      </tr>
      
    </tbody>
  </table>
  <button #goBack class="btn btn-primary" *ngIf="firstIndex > 0" data-id="{{ firstIndex }}" (click)="prev_10(goBack)"><</button>
  <button #goForward class="btn btn-primary" *ngIf="lastIndex > 0" data-id="{{ lastIndex }}" (click)="next_10(goForward);">></button>
</div>
