<div class="d-block w-100 text-center pt-5">
  <button class="btn btn-primary btn-lg" (click)="startTimer();" *ngIf="clicked==false; else stopButton;">Start</button>
  <ng-template #stopButton>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary btn-lg" (click)="stopTimer();">Stop</button>
  </ng-template>

</div>

<!-- The Modal -->
<div id="myModal" class="customModal d-none">

  <!-- Modal content -->
  <div class="modal_content">

    <div class="modal-header">
      <h5 class="modal-title">Project</h5>
      <button type="button" class="close" (click)="closeModal();" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="pt-3 justify-content-around">
        <input id="projectNameInput" type="text" placeholder="Input project name" class="form-control" />
      </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger float-left" (click)="deleteCurrent();close_modal()">Delete current</button>
      <div class="float-right">
        <button type="button" class="btn btn-primary" (click)="saveProject();closeModal();">Save changes</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal();" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
  </div>


<div class="w-100 justify-content-center d-block mt-3">
  <!-- Counter -->
  <div class="pt-3 mb-3">
    <p class="text-muted h6" id="projectNameDisplay"></p>
    <p class="text-muted h3" id="counter_display">{{ timerDisplay["hours"]["digit1"]}}{{ timerDisplay["hours"]["digit2"] }}:{{ timerDisplay.minutes["digit1"]}}{{ timerDisplay.minutes["digit2"] }}:{{ timerDisplay.seconds["digit1"]}}{{ timerDisplay.seconds["digit2"] }}</p>
    <button id="resetButton" class="btn btn-secondary d-none" (click)="reset();">Reset</button>
  </div>

  <table id="dataTable" class="table table-striped d-none">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let p of projects; let i = index'> 
        <th scope="row">{{i+1}}</th>
        <td>{{p.Name}}</td>
        <td>{{p.StartTime}}</td>
        <td>{{p.EndTime}}</td>
        <td>
          {{p.DurationDisplay["hours"]["digit1"]}}{{ p.DurationDisplay["hours"]["digit2"] }}:{{ p.DurationDisplay.minutes["digit1"]}}{{ p.DurationDisplay.minutes["digit2"] }}:{{ p.DurationDisplay.seconds["digit1"]}}{{ p.DurationDisplay.seconds["digit2"] }}
        </td>
        <td>
          <button class="btn btn-outline-primary btn-sm" (click)="editProject(p.Id);">Edit</button>
          <button class="btn btn-outline-danger btn-sm ml-1" (click)="deleteProject(p.Id);">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
  <div class="d-block float-right mb-3 mt-1">
    <button class="btn btn-primary float-left" *ngIf="firstIndex > 0" (click)="loadData(firstIndex,true)"><</button>
    <button class="btn btn-primary float-right ml-1" *ngIf="lastIndex > 0" (click)="loadData(lastIndex);">></button>
  </div>
    
</div>
